<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-customer-order-heading"
        data-cy="CustomerOrderCreateUpdateHeading"
        jhiTranslate="supermarketApp.customerOrder.home.createOrEditLabel"
      >
        Create or edit a Customer Order
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="supermarketApp.customerOrder.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let codeRef = editForm.get('code')!;
        <div class="mb-3">
          <label class="form-label" for="field_code" jhiTranslate="supermarketApp.customerOrder.code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          @if (codeRef.invalid && (codeRef.dirty || codeRef.touched)) {
            <div>
              @if (editForm.get('code')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let orderDateRef = editForm.get('orderDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_orderDate" jhiTranslate="supermarketApp.customerOrder.orderDate">Order Date</label>
          <div class="d-flex">
            <input
              id="field_orderDate"
              data-cy="orderDate"
              type="datetime-local"
              class="form-control"
              name="orderDate"
              formControlName="orderDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (orderDateRef.invalid && (orderDateRef.dirty || orderDateRef.touched)) {
            <div>
              @if (editForm.get('orderDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('orderDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="supermarketApp.customerOrder.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'supermarketApp.OrderStatus.null' | translate }}</option>
            @for (orderStatus of orderStatusValues; track $index) {
              <option [value]="orderStatus">{{ 'supermarketApp.OrderStatus.' + orderStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let totalAmountRef = editForm.get('totalAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalAmount" jhiTranslate="supermarketApp.customerOrder.totalAmount">Total Amount</label>
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
          @if (totalAmountRef.invalid && (totalAmountRef.dirty || totalAmountRef.touched)) {
            <div>
              @if (editForm.get('totalAmount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('totalAmount')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('totalAmount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let paymentMethodRef = editForm.get('paymentMethod')!;
        <div class="mb-3">
          <label class="form-label" for="field_paymentMethod" jhiTranslate="supermarketApp.customerOrder.paymentMethod"
            >Payment Method</label
          >
          <select
            class="form-control"
            name="paymentMethod"
            formControlName="paymentMethod"
            id="field_paymentMethod"
            data-cy="paymentMethod"
          >
            <option [ngValue]="null">{{ 'supermarketApp.PaymentMethod.null' | translate }}</option>
            @for (paymentMethod of paymentMethodValues; track $index) {
              <option [value]="paymentMethod">{{ 'supermarketApp.PaymentMethod.' + paymentMethod | translate }}</option>
            }
          </select>
          @if (paymentMethodRef.invalid && (paymentMethodRef.dirty || paymentMethodRef.touched)) {
            <div>
              @if (editForm.get('paymentMethod')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_shippingAddress" jhiTranslate="supermarketApp.customerOrder.shippingAddress"
            >Shipping Address</label
          >
          <input
            type="text"
            class="form-control"
            name="shippingAddress"
            id="field_shippingAddress"
            data-cy="shippingAddress"
            formControlName="shippingAddress"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_note" jhiTranslate="supermarketApp.customerOrder.note">Note</label>
          <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customer" jhiTranslate="supermarketApp.customerOrder.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            @if (!editForm.get('customer')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (customerOption of customersSharedCollection; track $index) {
              <option [ngValue]="customerOption">{{ customerOption.code }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['customer'])!.invalid && (editForm.get(['customer'])!.dirty || editForm.get(['customer'])!.touched)) {
          <div>
            @if (editForm.get(['customer'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_salesBy" jhiTranslate="supermarketApp.customerOrder.salesBy">Sales By</label>
          <select
            class="form-control"
            id="field_salesBy"
            data-cy="salesBy"
            name="salesBy"
            formControlName="salesBy"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            @for (employeeOption of employeesSharedCollection; track $index) {
              <option [ngValue]="employeeOption">{{ employeeOption.fullName }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_store" jhiTranslate="supermarketApp.customerOrder.store">Store</label>
          <select class="form-control" id="field_store" data-cy="store" name="store" formControlName="store" [compareWith]="compareStore">
            @if (!editForm.get('store')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (storeOption of storesSharedCollection; track $index) {
              <option [ngValue]="storeOption">{{ storeOption.name }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['store'])!.invalid && (editForm.get(['store'])!.dirty || editForm.get(['store'])!.touched)) {
          <div>
            @if (editForm.get(['store'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
